@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
}
.sup-menu, .sup-menu-case, .sub-menu, .sub-menu-case {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*HEADER BLOCK*/
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
}

/*FIRST MENU SECTION*/
.sub-menu-case {
  width: 100%;
  background: #E5E5E5;
}

.sub-menu {
  width: 100%;
  max-width: 1110px;
}
.sub-menu__link {
  margin: 17px 15px 16px;
  text-decoration: none;
  color: #333333;
  cursor: pointer;
}

/*LOGO-LINE SECTION*/
.logo-case {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-case::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #E5E5E5;
  bottom: -1px;
}

.logo {
  width: 100%;
  max-width: 1110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo__name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 25px 0 20px;
}
.logo__img {
  /*NONE*/
}
.logo__txt {
  margin: 0 20px;
  color: #66C05D;
  font-weight: 700;
  font-size: 36px;
}
.logo__connection {
  display: flex;
  align-items: center;
}
.logo__number {
  margin: 55px 40px 51px;
  color: #000000;
  font-size: 16px;
}
.logo__button {
  width: 170px;
  height: 40px;
  margin: 45px 0px 40px;
  border: 2px solid #66C05D;
  border-radius: 25px;
  background: none;
  color: #000000;
}

/*SECOND MENU SECTION*/
.sup-menu-case {
  width: 100%;
  max-width: 1110px;
}

.sup-menu {
  width: 100%;
  max-width: 1110px;
  margin: 30px 0 25px;
}
.sup-menu__link {
  margin: 0px 20px;
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  cursor: pointer;
}

.hover-line > a {
  position: relative;
}
.hover-line > a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 50%;
  z-index: 1;
  background: #333333;
  transform: translateX(-50%);
  transition: all 0.25s linear;
}
.hover-line > a:hover::after {
  width: 100%;
}

/*MAIN BLOCK*/