@import "./fonts";

%flexCent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
}

/*FIRST MENU SECTION*/
.sub-menu-case {

}
.sub-menu {

  &__link {

    &_first {

    }
    &_dot {

    }
    &_second {

    }
  }
}

/*LOGO-LINE SECTION*/
.logo-case {
}
.logo {

  &__name {

  }
  &__connection {

  }
  &__number {

  }
  &__button {

  }
}

/*SECOND MENU SECTION*/
.sup-menu-case {
}
.sup-menu {

  &__link {

  }
}


  // &__sub-menu-case {
  //   width: 100%;
  //   @extend %flexCent;
  //   background: #E5E5E5;
  // }
  // &__sub-menu {
  //   max-width: 1110px;
  //   height: 50px;
  //   margin: 0 25px;
  //   @extend %flexCent;
  // }
  // &__sub-link {
  //   margin: 0px 15px;
  //   text-decoration: none;
  //   color: #333333;
  //   font-weight: 400;
  //   cursor: pointer;
  // }


  // &__logo-case {
  //   width: 100%;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   position: relative;
  //   &::after {
  //     content: "";
  //     width: 100%;
  //     height: 1px;
  //     display: block;
  //     background: #E5E5E5;
  //     bottom: -1px;
  //     position: absolute;
  //   }
  // }
  // &__logo {
  //   max-width: 1110px;
  //   margin: 25px 25px 0;
  // }
  // &__logo-img {

  // }
  // &__logo-text {

  // }
  // &__call {

  // }
  // &__phone {

  // }
  // &__button {

  // }


  // &__sup-menu {
  //   width: 100%;
  //   max-width: 1110px;
  //   margin: 25px;
  //   @extend %flexCent;
  // }
  // &__sup-link {
  //   margin: 0px 20px;
  //   text-decoration: none;
  //   color: #333333;
  //   font-weight: 400;
  //   cursor: pointer;
  // }
